docx==0.2.4
pandas==2.2.2
Pillow==10.3.0
plotly==5.21.0
streamlit==1.34.0


streamlit==1.26.0
pandas==2.2.2
pillow==9.5.0
plotly==5.16.0
docx==0.8.11
pywin32==306
python-magic==0.4.27
openpyxl==3.1.2
